.site-drawer-render-in-current-wrapper {
  position: absolute;
  //   top: 0;
  //   right: 0;
  height: 100%;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
