.layout-header {
  padding: 0;
  padding-right: 24px;
  background-color: white;
  .logo-wrapper img {
    margin-left: 16px;
    cursor: pointer;
  }
}
.side-collap {
  padding: 12px;
  border-top: 1px solid #f0f0f0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}
.trigger {
  font-size: 16px;
}
.trigger:hover {
  color: #1890ff;
}
.ant-menu-horizontal {
  border: none;
}
.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px 24px 0;
  overflow-x: hidden;
}
