.home {
  .footer {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .line1 {
      margin-top: 32px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      img {
        user-select: none;
        pointer-events: none;
        width: 166px;
        margin-right: 160px;
      }
      .product {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Semibold;
        font-weight: 600;
        text-align: left;
        color: #1f1f1f;
        line-height: 20px;
        margin-right: 24px;
      }
      .products {
        width: 144px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 64px;
        transform: translateY(22px);
      }
      .link {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #1f1f1f;
        line-height: 20px;
        cursor: pointer;
        margin-bottom: 12px;
      }
      .contact-us {
        display: flex;
        margin-right: 73px;
        .title {
          font-size: 14px;
          font-family: PingFangSC, PingFangSC-Semibold;
          font-weight: 600;
          text-align: left;
          color: #1f1f1f;
          line-height: 20px;
          margin-right: 24px;
        }
        .email {
          cursor: pointer;
          font-size: 14px;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: left;
          color: #1f1f1f;
          line-height: 20px;
          position: relative;
          .tel {
            font-size: 14px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #1f1f1f;
            line-height: 20px;
            position: absolute;
            bottom: calc(-100% - 8px);
          }
        }
      }
      .weixin {
        display: flex;
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #1f1f1f;
        line-height: 20px;
        position: relative;
        .weixin-logo {
          width: 22px;
          height: 18px;
          margin-right: 24px;
        }
        .qr-code {
          height: 128px;
          width: 120px;
          position: absolute;
          top: -5px;
          left: 0;
          opacity: 0;
          transition: all 0.2s;
          transform: translateY(-100px);
          &.hover {
            transform: translateY(-120px);
            opacity: 1;
          }
        }
      }
    }
    .line2 {
      position: absolute;
      bottom: 24px;

      .icp-info {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: center;
        color: #8c8c8c;
        line-height: 20px;
        a,
        a:hover,
        a:active {
          color: inherit;
          margin-left: 5px;
        }
        a:hover {
          font-weight: 700;
        }
      }
    }
  }
}
